*,*:before, *:after {
  box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    max-width: 1140px;
    padding: 10%;
}

input {
  border-radius: 5px;
}


.navi a {
    margin: 10px 10px;
    background-color: #008b6a;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.navi a:hover {
  text-decoration: none;
  color: #30f70c;
}

/* 入力欄のレイアウト */
#inputSection {
    display: flex;
    justify-content: space-around;
}
#inputSection div {
    flex-grow: 1;
    margin: 0 10px 10px 0;
}

/* 登録ボタンのスタイル */
.submit {
    display: block;
    text-align: center;
    background-color: #1C1D21;
}
.submit button {
    width: 120px;
    height: 40px;
}

/* 見出しのスタイル */
h2 {
    padding-bottom: 5px;
    border-bottom: #008b6a solid 2px;
}

/* 入出金一覧をスクロール */
#list {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

/* フッターのレイアウト */
footer {
    margin: 50px auto 20px auto;
    text-align: center;
}



.alert {
   color:#262626; 
   background:#FFEBE8;
   text-align: left;
   border: 2px sol
   id #990000 ;
   padding: 12px; font-weight:850;
 }
 
 .navi{
    white-space: nowrap;
    justify-content: space-around;
    text-align: center;
    width:100%;
 }
 
 ///////users//////
 .user_balance {
   padding-top: 5px;
   border: #212529 solid 3px;
   border-radius: 5px;
   margin: 5px auto;
   text-align: center;
   justify-content: space-around;
 }
 
 //////カテゴリー///////
 .category_entry {
    width: 70%;
    margin: 20px auto;
 }
 
 .category_main {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
 }
/////posts////////
select,input, textarea{
    padding: 5px;
    border: 2px solid #212121;
    border-radius: 5px;
}

.contaner {
    width: 80%;
    margin: 0 auto;
}

.post-note {
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.new-post {
    margin: 10px 0;
    text-align: left;
}

